/** @format */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(33, 11, 155, 0.7);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input-text,
select,
.react-datepicker__input-container input {
  margin: 0;
  outline: none;
  border: 1px solid rgb(223, 216, 216);
  margin-bottom: 10px;
  border-radius: 5px;
  width: 240px;
  height: 40px;
  font-size: 20px;
}

input {
  padding-left: 15px;
}

select {
  padding-left: 10px;
  width: 260px;
  color: grey;
}

label {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
  color: rgb(15, 7, 51);
}

.reg_form,
.form-wrapper,
.signin_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wrapper {
  width: 300px;
  padding: 20px 50px;
  margin: 100px auto 0 auto;
  background-color: #fff;
  box-shadow: 10px 10px 80px 0 rgba(9, 19, 32, 0.3);
  border-radius: 5px;
}

.terms {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 258px;
}

.terms input,
p {
  margin: 0;
  padding: 0;
}

.terms p {
  font-size: 12px;
  color: grey;
  cursor: pointer;
  margin-left: 5px;
}

.auth-links {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-bottom: 20px;
}

.auth-links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.is-active {
  color: green;
}

.btn {
  margin-top: 20px;
  width: 140px;
  height: 40px;
  font-size: 20px;
  background-color: green;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.Error,
.Success {
  margin-top: 10px;
}

.Error {
  color: red;
}

.Success {
  color: green;
}

.select-active {
  color: black;
}
